[submodule "glfw"]
	path = src/lib/glfw
	url = https://github.com/glfw/glfw
[submodule "glm"]
	path = src/lib/glm
	url = https://github.com/g-truc/glm
[submodule "src/lib/beef2d"]
	path = src/lib/beef2d
	url = https://github.com/adrset/beef2d
